* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

blockquote {
    padding: 20px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
    background-color: red;
    padding: 2px 2px;
}
.submit {
    float: left;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: red;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.intro {
    text-align: center;
    font-size: 3rem;
    padding-top: 10%;
}

.search {
    padding-right: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
       display: none; 
       width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
       width: 100%;
       flex-direction: column;
    }
    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}


